.parent p{
             font-family: cursive;
             letter-spacing: 5px;
             text-transform: capitalize;
             text-decoration: line-through;
        }
     p:hover{
             color:coral; 
             background-color:bisque;
       }
.border{
      border: 2px solid plum;
     /* border-collapse: collapse;*/
      border-block: 20px;
      padding-left: 10px;
      padding-top: 20px;
} 
.margin{
       border:3px solid palevioletred;
       margin-top: 50px;
       padding-left: 10px 30px 50px;
}
.position{
      border:2px solid blue;
      height: 100vh;
}
.relative{
      position: relative;
      top: 40px;
      left:50px;
} 
.page {
         height: 100vh;  
} 
.fixed{
      position: fixed;
      /*left: 40px;*/
}   
.sticky{
       position: sticky;
       top:10px;
       left: 120px;
}
.inline{ 
       display: block;
}
.flex-container {
         display: flex;
         /* flex-direction: column ; */
         background-color: blue;    
         border: 2px solid black;
         padding: 15px;
         justify-content: space-evenly;
         align-items: center;
         height: 100vh;

}
.flex-container div{
      background-color: antiquewhite;
      border :2px solid black;
      height: 100px;
      width: 100px;
}
.two{
      /* flex-grow: 2; */
      flex-shrink: 0;
}
 .nav{
      display: flex;
      justify-content: space-evenly;
 }
li{
      list-style: none;
}
.grid-container{
       display: grid;
       grid-template:50px 50px / 50px 50px;
       justify-content: center;
}
.grid-container div{
        border: 2px solid black;
}
.item3{ 
      grid-column-start: 1;
      grid-column-end: 3;
       grid-row-start : 2;
       grid-row-end: 4 ;
}

